/remove_dupes_II/remove_dupes.aux
/remove_dupes_II/remove_dupes.fdb_latexmk
/remove_dupes_II/remove_dupes.fls
/remove_dupes_II/remove_dupes.log
/remove_dupes_II/remove_dupes.tex
/rotate_array/rotate_array.tex
/rotate_array/rotate_array.aux
/rotate_array/rotate_array.fdb_latexmk
/rotate_array/rotate_array.fls
/rotate_array/rotate_array.log
